@import url('https://fonts.googleapis.com/css?family=Montserrat');

legend {
    display: inline;
    width: auto;
    padding: 0;
    margin: 0;
    font-size: medium;
    line-height: normal;
    color: #000000;
    border: 0;
    border-bottom: none;
}

body, html {
    padding: 0px;
    margin: 0px;
    border: 0px none;
    width: 100%;
    height: 100%;
    font-family: Montserrat, sans-serif;
    background: #fff8e0;
}

.fullWeb {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.centerWeb {
    width: 65%;
    //background: red;
}
