@import url('https://fonts.googleapis.com/css?family=Montserrat');

legend {
    display: inline;
    width: auto;
    padding: 0;
    margin: 0;
    font-size: medium;
    line-height: normal;
    color: #000000;
    border: 0;
    border-bottom: none;
}

body, html {
    padding: 0px;
    margin: 0px;
    border: 0px none;
    width: 100%;
    height: 100%;
    font-family: Montserrat, sans-serif;
}

.fullWeb {
    width: 100%;
    height: 100%;
    display: flex;
    //flex-direction: row;
    justify-content: center;
}

.leftApp {
    width: 65%;
    height: 100%;
    background: grey;
}

.rightApp {
    width: 35%;
    height: 100%;
    background: purple;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.dropdown {
    //position: relative;
    //display: inline-block;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    //min-height: 100px;
    background: orange;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.expand {
    display: flex;
    //justify-content: center;
    align-items: center;
    width: 75%;
}

.dropdown-container {
    display: none;
    z-index: 1;
    width: 100%;
    height: auto;
}

.dropdown:focus .dropdown-container {
    display: block;
    z-index: 2;
}

.dropdown-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.5vh;
    //min-height: 50px;
    background: yellow;
    padding: 1vh;
    padding-left: 5%;
    box-sizing: border-box;
}
